:root {
    --font-large: 3.6rem;
    --font-regular: 2.0rem;
    --font-small: 1.6rem;
    --primary-color: #FA8072;
    --secondary-color: #FF5733;
    --cta-color: #9ACD32;
    --black: #696969;
    --white: #F5F5F5;
}
    
html {
    font-size: 62.5%; 
}

body {
    font-size: var(--font-regular);
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    box-sizing: border-box;
    
}


main {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-color: #AFEEEE
}

.card-container {
    border: 4px solid var(--primary-color);
    border-radius: 12px;
    margin: 24px;
    min-width: 300px;
    max-width: 520px;
    background-color: white;
    box-shadow: 0px 4px #888888;
}

.message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px 8px 0px 0px;
    background-color: var(--primary-color);

}

.message-container h1 {
    font-size: var(--font-large);
    margin: 4px 12px;
    color: black;
}

.message-container p {
    width: 72%;
    margin: 0px 4px 12px;
    color: #8B4513;
}

.image-container {
    display: grid;
    height: 300px;
    place-items: center;
    
}

.image-container img{
    height: inherit;
    width: 80%;
    object-fit: contain;
    border-radius: 12px;
    margin: 20px;
}

.thank-you-container {
    display: flex;
    flex-direction: column;
}

.thank-you-container h4 {
    margin-top: 24px;
    margin-bottom: 12px;
    color: #8B4513;
}

.button-container {
    margin: 0px;
    display: flex;
    justify-content: center;
}

.card-container button {
    height: 60px;
    width: 160px;
    text-align: center;
    border-radius: 8px;
    border: none;
    margin: 12px 8px;
    font-size: var(--font-regular);
    color: black;

}

#feed-btn {
    background-color: var(--cta-color);
    font-weight: bold;
    border: 4px solid #228B22;
    font-family: 'DM Sans', sans-serif;
}

#no-feed-btn {
    border: 4px solid var(--secondary-color);
    background-color: #FFA07A;
    font-weight: bold;
    font-family: 'DM Sans', sans-serif;
}

footer {
    display: flex;
    justify-content: center;
    margin: 8px auto;
    background-color: #E0FFFF;
    margin: 0;
}

footer a {
    margin: 12px 24px;
    text-decoration: none;
    color: darkslategrey;

}